table {
    font-family:sans;
}


table th, table td{
	width:10em;
	height:3em;
	text-align:center;
	vertical-align:center;
}

table tr.tr_impair{
	background:red;
}

table tr.tr_pair{
	background:blue;
}

#th_first{
	background:white;
}

table th:not(#th_first):hover,
table td:hover{
	background:red;

}

a{color:black;
  text-decoration:none;
}

h1 {
	text-decoration:underlined;
	text-align:center;
	color:red;
}


h2 p{
	text-decoration:underlined;
	margin: 0em 0em 0em 4em;
}

h3 li{
	margin: 2em;
	color: blue;
}

.language{
	height:4em;	
	width: 4em;
	position:relative;
}

.Aled{width:120px;
	  height:120px;
}

.Aled img{
		display: block;
		width:2em;
		height:auto;
}

.WIP {width:4em;
	  height:4em;
	  }
	  

